{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2"
                     data-aos="fade-left"
                     data-aos-delay="100">
                     <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>О Молодёжном сообществе</h3>
                        <p class="fst-italic">
                            Вместе мы формируем глобальное сообщество молодых специалистов в сфере управления цепями поставок, где каждый может сделать вклад в совместное развитие!
                        </p>
                        {% comment %} <ul>
                            <li>
                                <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
                            </li>
                        </ul> {% endcomment %}
                        <p>Основная миссия сообщества - создать условия для развития молодых специалистов в сфере управления цепями поставок и ускорения карьерного роста.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->