<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Афиша МСЦП</h2>
            <p>Ближайшие мероприятия сообщества</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col" scope="col">Дата</th>
                                <th scope="col">Спикер</th>
                                <th scope="col">Описание</th>
                                <th class="text-center" scope="col">Формат</th>
                                <th class="text-center" scope="col">Подрбнее</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                {% include 'includes/event_card.html' with event=event %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% for event in events %}
        {% include 'blocks/event_about_popup.html' with event=event %}
        {% include 'blocks/event_sign_up_popup.html' with event=event %}
    {% endfor %}
</section>
