<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">
        <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0"
                data-purecounter-end="{{ members.count }}"
                data-purecounter-duration="1"
                class="purecounter"></span>
                <p>Участников</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0"
                data-purecounter-end="{{ events.count }}"
                      data-purecounter-duration="1"
                      class="purecounter"></span>
                <p>Мероприятий</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0"
                      data-purecounter-end="1"
                      data-purecounter-duration="1"
                      class="purecounter"></span>
                <p>Конгрессов</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0"
                      data-purecounter-end="{{ mentors_count }}"
                      data-purecounter-duration="1"
                      class="purecounter"></span>
                <p>Менторов</p>
            </div>
        </div>
    </div>
</section>
<!-- End Counts Section -->