{% extends 'base.html' %}
{% load static %}
{% block title %}
    Молодежное сообщество по цепям поставок
{% endblock title %}
{% block content %}
    {% include 'community/hero.html' %}
    {% include 'community/news.html' %}
    {% include 'community/about.html' %}
    {% include 'community/why_us.html' %}
    {% include 'community/counts.html' %}
    {% include 'community/events.html' %}
    {% if not request.user.is_authenticated %}
        {% include 'community/subscription_form.html' %}
    {% endif %}
    {% include 'community/founders.html' %}
    <!-- ======= Trainers Section ======= -->
    <!-- End Trainers Section -->
</main>
<!-- End #main -->
{% endblock content %}
{% block more_scripts %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/button_signup.js' %}"></script>
{% endblock more_scripts %}
