{% load static %}
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Почему мы?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                    </p>
                    <div class="text-center">
                        {% comment %} <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch"
                 data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <a {% if not request.user.is_authenticated %}href='#subscription-form'{% endif %} class="text-dark icon-box mt-4 mt-xl-0 hover-shadow" id="mentor-why-us">
                                <i class="bx bx-receipt"></i>
                                <h4>Менторская программа</h4>
                                <p>Для каждого желающего составляется индивидуальный трек развития и подбирается наставник, который помогает и развивает своего менти.
                                    База наставников формируется из опытных профессионалов, готовых делиться опытом.</p>
                            </a>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Мастер-классы по вашим запросам</h4>
                                <p>При переходе на новую позицию или появлении новых обязанностей у вас может возникнуть потребность разобраться в новой сфере за короткий период. В этом мы вам поможем, организуя мастер-класс от профи.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Участие в конгрессах</h4>
                                <p>Весной 2022 года состоялось масштабное медийное мероприятие для молодых специалистов в сфере управления цепями поставок, где спикерами были сами участники Молодёжного сообщества.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .content-->
            </div>
        </div>
    </div>
</section>