{% extends 'base.html' %}
{% load static %}
{% block title %}
    Молодежное сообщество по цепям поставок
{% endblock title %}
{% block content %}
        {% include 'blocks/hero.html' %}
        {% include 'blocks/news.html' %}
        {% include 'blocks/about.html' %}
        {% include 'blocks/why_us.html' %}
        {% include 'blocks/counts.html' %}
        {% include 'blocks/events.html' %}
        {% include 'blocks/subscription_form.html' %}
        {% include 'blocks/founders.html' %}
       
        
        <!-- ======= Trainers Section ======= -->

        <!-- End Trainers Section -->
    </main>
    <!-- End #main -->
{% endblock content %}
