{% load tags %}
{% url 'members:login' as login_url %}
{% with request.path as current_url %}
    <form method="post"
          enctype='multipart/form-data'
          {% if action_url %} action="{% url action_url.url action_url.param %}" {% endif %}>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row my-3"
                 {% if field.field.required %} aria-required="true" {% else %} aria-required="false" {% endif %}>
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                </label>
                <div>
                    {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">{{ btn_label }}</button>
            {% if login_url == current_url %}
                <a href="{% url 'members:password_reset_form' %}" class="btn btn-primary">Забыли пароль?</a>
            {% endif %}
        </div>
    </form>
{% endwith %}
