{% load thumbnail %}
<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-3">
    <div class="course-item">
        {% thumbnail article.image "400x300" crop="center" upscale=False quality=100 as im %}
                        <img class="img-fluid project-image rounded shadow-sm"
                            src={{ im.url }}
                            alt={{ article.title }} />
        {% endthumbnail %}

        <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>{{ article.category }}</h4>
            </div>
            <h3>
                <a href="course-details.html">{{ article.title }}</a>
            </h3>
            <p>{{ article.description }}</p>
            <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                    {{ article.date }}
                </div>
            </div>
        </div>
    </div>
</div>