{% extends 'base.html' %}
{% block content %}
<section class="d-flex justify-content-center align-items-center header-margin">
    <div class="container position-relative"
         data-aos="zoom-in"
         data-aos-delay="100">
        <h1>
            Поздравляем! Вы успешно подали заявку на вступление.
        </h1>
        <h2>Скоро мы свяжемся с Вами.</h2>
        <a href="{% url 'community:index' %}" class="btn-get-started">Вернуться на главную</a>
    </div>
</section>
{% endblock content %}
